In [8]:
firstNumber = float(input("Enter First Number"))
secondNumber = float(input("Enter Second Number"))
Operator = input("Enter Operator")
result = ""
if(Operator == "+"):
    result = firstNumber + secondNumber
elif(Operator == "-"):
    result = firstNumber - secondNumber
elif(Operator == "*"):
    result = firstNumber * secondNumber
elif(Operator == "/"):
    result = firstNumber / secondNumber
elif(Operator == "**"):
    result = firstNumber ** secondNumber
else:
    result = "Invalid Operator"
    
print(result)

Enter First Number 5
Enter Second Number 2
Enter Operator **

25.0

In [27]:
arr = ["a", "b", "c", 1, "d"]
a = "1"
for i in arr :
    if (type(i) is int) :
        print("{0} is Number". format(i))

1 is Number

In [29]:
emp = {
    "emp_ID": "1001",
    "emp_Name": "Ali",
    "emp_Dept": "prod"
}
emp["emp_shift"] = "G"
print(emp)

{'emp_ID': '1001', 'emp_Name': 'Ali', 'emp_Dept': 'prod', 'emp_shift': 'G'}

In [35]:
expense = {
    "jan" : "1000",
    "feb" : "2000",
    "mar" : "3000"
}
sumOfExpense = 0
for months in expense.values():
    sumOfExpense += int(months)
print(sumOfExpense)

6000

In [59]:
cities = ["KHI", "LHR", "ISL", "HYD", "KHI", "LHR", "MUL", "MUL"]
duplicate = {}
duplicate.clear()
for city in cities :
    if city in duplicate :
        duplicate.update({city:duplicate[city] + 1})
    else:
        duplicate[city] = 1
    
print(duplicate)

{'KHI': 2, 'LHR': 2, 'ISL': 1, 'HYD': 1, 'MUL': 2}

In [70]:
expense = {
    "jan" : "1000",
    "feb" : "2000",
    "mar" : "3000"
}
value = "jan"
for month in expense.keys():
    if(month == value):
        print(value, "Exists in dictionary")

jan Exists in dictionary